<div>
  <%= form.label :content %>
  <%= form.text_field :content%>
   <%= form.label :photo %>
    <%= image_tag(blog.image.url) if blog.photo && blog.image.url %>
    <%= form.file_field :image %>
    <%= form.hidden_field :image_cache %>
  </div>