<h1><%= @user.user_name %>のページ</h1>

<p><%= @user.profile %></p>


<p><% @user.blogs.each do |blog|%></p>
    <p><%= blog.title %></p>
    <p><%= blog.content %></p>
    <p><%= image_tag blog.photo.url, size: "150x150" %></p>
<% end %>